.kasaneru6{
  position: relative;
  text-align: center;
}
.kasaneru6 img.imagup{
  position: absolute;
  top:10%;
  left: 70%;
  transform: translate(-50%,-50%);
  color: #fff;
}

.kasaneru6 img.imagup2{
  position: absolute;
  top:30%;
  left: 80%;
  transform: translate(-50%,-50%);
  color: #fff;
}

@media screen and (max-width: 768px){
.kasaneru6 img.imagup{
  width: 30%;
}
.kasaneru6 img.imagup2{
  width: 30%;
}
}



/*スクロールバーが表示される閲覧環境用に設定*/
main{
  overflow: hidden;
}

section{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding: 40px;
  margin: auto;
}

p{
  font-size: 18px;
  line-height: 1.8;
}

img.pic{
  width: 100%;
  height: auto;
}

.reverse{
  flex-direction: row-reverse;
}

.column{
  width: 48%;
}

.column-outside-right{
  position: relative;
}

.e{
  position: absolute;
  top:10%;
  right: 70%;
  transform: translate(-50%,-50%);
  color: #fff;
}

/*右側へ要素を広げる（2カラム）*/
.column-outside-right{
    flex: 1;
    margin-right: calc(50% - 50vw);
    margin-left: 4%;
}
