body {

  margin: 0;

  font-family: "Hiragino Kaku Gothic ProN";

}



a {

  text-decoration: none;

}


.pix {
  width: 100%;


}


.botan {

  padding:5px 10px;

  color:#ffffff;

  display:inline-block;

  font-size:14px;

  border-radius:4px;

  letter-spacing:0.1em;

}


.box{
  position: relative;
  text-align: center;
}
.no{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
@media screen and (max-width: 768px){
.no{
  width: 30%;
}



/* メディアクエリ */

@media(max-width:1000px){

  .wrapper{

  width:90%;

  }

}

  



p{

font-size:50px;  

}


