.kasaneru6{
  position: relative;
  text-align: center;
}
.kasaneru6 img.imagup{
  position: absolute;
  top:１0%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
@media screen and (max-width: 768px){
.kasaneru6 img.imagup{
  width: 30%;
}
}
